<a href="https://colab.research.google.com/github/pankaj-pixel/Automation-by-Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON FOR MACHINE **LEARINIG**

DATA TYPES
1.Integers
2.Floating pointing
3.complex
4.Boolean
5.String

In [12]:
 #INTEGER
a= 15
print(a)
type(a)

15

int

In [13]:
#floating point
a = 15.3
print(a )
type(a)
b =10
c = a+b
type(c)

15.3

float

In [16]:
#COMPLEX NUMBER
a  = 15 +2j
print(a)
type(a)

(15+2j)

complex

In [32]:
#DATA TYPE CONVERSION
#i = 42
#type(i)
#int to float
#a= float(i)
#print(a)
#type(a)
#float to integer
a =45.8
#type(a)
b = int(a)
print(b)
type(b)

45

int

#BOOLEAN

In [38]:

#a =True
#print(a)
#type(a)
a = 52 >70
print(a)
b =3>1
print(b)

False
True

# STRING

In [20]:
name= "mynameispankaj"
#type(name)
#print(name[0:10:3])
#CONCATINATION

first_name = "Pankaj"
last_name = "kain"

print(first_name +last_name)

Pankajkain

# **Special Data Types**
1.Tuple = "Immutable"
2.List = "Mutable"
3.Dictionary  = "Mutable"
4.Set  = "Mutable"

In [61]:
#TUPLE
#collection of element stored in()
#Tuples are Immutable

#a = ("pankaj",2.15,5,True)
#print(a)
#type(a)


#a[0] = "kain" cannot change the element once defined

#converting a  list into tuple
list1 = [25,6,9,"Pnkaj"]
mytup = tuple(list1)
print(mytup)

(25, 6, 9, 'Pnkaj')

In [58]:
#LIST
#Collection of Elements stored in []
#Lists are mutable
#list1 = ["pankaj" ,1 ,2.5 ,False]
#print(list1)
#type(list1)

#list1[0] = "kain" #Lists are mutable
#print(list1)

#Create an empty List
list2 =[]
print(list2)

#append items in empty list
list2.append(2)
print(list2)

[]
[2]

In [51]:
#Dictionary
#collection of elements stored in key value pairs
#Dictionary is mutable

dict1 = {"apple":40,"Banana":60, "Guava":80}
#print(dict1)
#type(dict1)
#dict1.keys()
#dict1.values()

dict_values([40, 60, 80])

In [53]:
#SETS
#collection of elements of similar data types stores in{}
#sets are mutable
num = {1,2,3,4,5,6,"apple"}
print(num)

{1, 2, 3, 4, 5, 6, 'apple'}

#**OPREATORS**
1.Arithmetic
2.assigment
3.logical
4.comparison
5.membership

In [69]:
#2.Assigmenrt opreator
# = , += , -=, /=
a =25
b =25
c= a+b
#c +=12
#print(c)
#c -=15
#c *=5
print(c)

250

**COMPARISION OPREATOR**

In [72]:
a = 10
b = 20

print(a == b)
print(a != b )
print( a > b )
print( a <= b)
print( a >=b )

False
True
False
True
False

**3.LOGICAL OPREATOR**

In [3]:
#1.AND
#2.OR
 
a = 55

#if a>=50 and a<=55: # when both the  conditions will be true than only if part will get executed
#  print("a Lies btw 50 and 55 Inclusively") 
#else:
# print("A is Greater than 55")

a Lies btw 50 and 55 Inclusively

In [13]:
#OR

a = 10
b = 40

print(a is b)
print (a is not b)
#if a>20 or a < 30:
#  print("yes a lies btw 20 and 30")
#else:
#  print("No its Not lies btw 20 and 30")

False
True

#membership opreator

In [14]:
a = 10
b =5

c =[1,5,6,8,2,3]
print(a in c)
print(b in c)

False
True

#**IF AND ELSE**

In [16]:
num= int(input("Enter the number : "))

if num > 50:
  print("The Number is greaet than 50")

else:
  print("Number is less than 50")

Enter the number : 20
Number is less than 50

In [18]:
num1 = int(input("Enter the number 1 : "))
num2 = int(input("Enter the number 2 : "))

if num1 > num2 :
  print("num1 is greater than num1")
else:
 print("num2 is greater")

Enter the number 1 : 32
Enter the number 2 : 33
num2 is greater

In [20]:
#To find greatest of 3 number if elif and else

a = 10
b= 8
c =1

if(b<a>c):
  print("a is largerst among 3")
elif(a<b>c):
   print("b is largest among 3")
else:
  print("c is largest")

a is largerst among 3

#LOOPS
Loops are used to run a certain task again and again

> The major difference between for loop and the while loop is that for   loop is used when the number of iterations is known, whereas execution is done in the while loop until the statement in the program is proved wrong.

In [21]:
#FOR LOOP
# That is not an efficient way of writing code
#Instead we use loops to perform repeated task
ruit1 = int(input("Enter the price of fruit 1 : "))
fruit2 = int(input("Enter the price of fruit 2 : "))
fruit3 = int(input("Enter the price of fruit 3 : "))
fruit4 = int(input("Enter the price of fruit 4 : "))
fruit5 = int(input("Enter the price of fruit 5 : "))

Enter the price of fruit 1 : 50
Enter the price of fruit 2 : 60
Enter the price of fruit 3 : 7
Enter the price of fruit 4 : 80
Enter the price of fruit 5 : 90

In [22]:
for i in range(5): #0,1,2,3,4
  fruitprice = int(input("Enter the price of fruits : "))

Enter the price of fruits : 50
Enter the price of fruits : 60
Enter the price of fruits : 70
Enter the price of fruits : 80
Enter the price of fruits : 90

In [23]:
List = ["Apple","Banana", "Guava" , "Strawberry" ,"papaya"]
for i in List:
  print(i)

Apple
Banana
Guava
Strawberry
papaya

In [26]:
#WHILE LOOP

i = 0
while(i<10):
  i +=1
  print(i)

1
2
3
4
5
6
7
8
9
10

#FUNCTIONS



> Function is a block of code that can be reused in program

In [30]:
def hello():
 print("Hello pankaj")


hello() #calling the function

Hello pankaj

In [32]:
def add(a,b):
 print(a+b)

add(5,10)
add(12,56)

15
68

In [33]:
num = int(input("Enter the Number : "))

factorial = 1

if num == 0:
  print("Factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial = factorial*i
    print("The factorial of ",num,"is",factorial)

Enter the Number : 5
The factorial of  5 is 1
The factorial of  5 is 2
The factorial of  5 is 6
The factorial of  5 is 24
The factorial of  5 is 120